<!-- ko with: home -->
<div class="jumbotron">
    <h1>Opcenter RD&L</h1>
    <p class="lead">Opcenter RD&L (Research, Development and Laboratory) offers companies in CPG and process a scalable and flexible platform to streamline, optimize, and align all formulated product data management.</p>
    <p><a href="https://www.plm.automation.siemens.com/global/en/products/manufacturing-operations-center/simatic-it-r-d-suite.html" class="btn btn-primary btn-lg" target="_blank">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Opcenter</h2>
        <p>Opcenter is a holistic Manufacturing Operations Management (MOM) solution that enables you to implement your strategy for the complete digitalization of manufacturing operations.</p>
        <p data-bind="text: myUsername"></p>

        <p><a class="btn btn-default forth_element_to_target" href="https://www.plm.automation.siemens.com/global/en/products/manufacturing-operations-center/" target="_blank">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-6">
        <img src="~/Images/homepage_center.png" width="368" height="216" />
    </div>
</div>

<!-- /ko -->
